html, body {
  height: 800%;
  margin: 0;
}

body {
  background-image: url('Images/Jackie_Poster.png'); /* Ensure the path is correct */
  background-position: center top; /* Position the background image to the right */
  background-repeat: no-repeat;  /* Ensure the image does not repeat */
  background-position-x: center top; 
  background-position-y: center top;
  background-size: auto;         /* Adjust this as needed */
}

    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #0000ff;
}

.container {
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #000;
  min-height: 100vh; /* Ensures container takes at least the height of the viewport */
}

header {
    text-align: left;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    margin-bottom: 20px;
}

footer {
    text-align: left;
    border-top: 0px solid #000;
    padding-top: 10px;
}
